Django==1.4.3
South==0.7.6
django-appconf==0.5
django-cached-counter==0.1
django-compressor==1.2
django-debug-toolbar==0.9.4
django-pagination==1.0.7
django-robots==0.9.1
google-analytics==0.2
pytz==2012j
sorl-thumbnail==11.12
python-dateutil==2.1
BeautifulSoup==3.2.1
colorama==0.2.4
feedparser==5.1.3
tweepy==1.13
pytils==0.2.3
