{% extends "base.html" %}



{% block left_column %}
	<section id="news-list">
		{% for object in object_list %}
			<article class="news-element-{% cycle "odd" "even" %}"{% if forloop.last %} id="{{ object.pk }}"{% endif %}>
				<time datetime="{{ object.date|date:"Y-m-d H:m" }}">{{ object.date|date:"j E Y, H:m" }}</time>
				<header>
					<h1 id="{{ object.pk }}">
						<a href="{{ object.source.get_absolute_url }}" class="header-prefix">{{ object.source.title }}</a>
						<a href="{{ object.get_absolute_url }}">{{ object.title|striptags|safe }}</a>
					</h1>
				</header>
				<div>{{ object.get_full|safe }}</div>

				{% if forloop.first %}
					<div id="latest-news-indicator">Самая свежая новость</div>
				{% endif %}
			</article>
		{% endfor %}
	</section>
{% endblock %}


{% block compressed_js %}
	{{ block.super }}

	<script>
		$(function(){
			// $.post('/get-news/', {'i': $('#left-column h2:last').attr('id')}, function(data){return true;});
			$(window).endlessScroll({
				callback: function(p){
					last_pk = $('#news-list article:last').attr('id');
					$.post('{% url get_news %}', {'pk': last_pk, 'csrftoken': $.cookie('csrftoken')}, function(data){
						$('#news-list').append(data);
					});
				}
			});
		});
	</script>
{% endblock %}
